---
import "@Styles/Global.css";
import "@Styles/Flifo.css";

import Footer from "@Components/Footer.astro";
import Header from "@Components/Header.astro";
import AsideMenu from "@Components/aside/AsideMenu.astro";
import FixedBtns from "@Components/FixedBtns.astro";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "LignaStudios expertos en diseño web y soluciones digitales para impulsar negocios y emprendedores en internet.",
} = Astro.props;
const site = Astro.site ? new URL(Astro.site) : null;
const path = Astro.url?.pathname || "/";
const url = site ? new URL(path, site).href : null;
---

<html lang="es">
	<head>
		<title>{title} - Diseño Web LignaStudios</title>
		<meta name="Author" content="Lifo123" />
		<meta name="description" content={description} />
		<meta
			name="keywords"
			content="diseño web, pagina, web, paginas web peru,diseño web peru, lima, diseño, precio, peru, diseño de paginas web, SEO, lifo, marketing digital, tienda virtual, hosting"
		/>

		<meta charset="utf-8" />
		<meta
			name="robots"
			content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
		/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- OpenGraph Tags -->
		<meta property="og:title" content={title} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={url} />
		<meta property="og:locale" content="es_ES" />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content="LignaStudios" />
		<meta property="og:image" content="" />
		<meta property="og:image:alt" content="LignaStudios Image" />

		<!-- Twitter Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@LignaStudios" />
		<meta name="twitter:creator" content="@Lifo123" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:url" content={url} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="" />
		<meta name="twitter:image:alt" content="LignaStudios Image" />
		<!-- Styles -->
		<link rel="icon" href="/LignaLogo.svg" />
		<link rel="apple-touch-icon" href="/LignaLogo.svg" />
		<link
			rel="preload"
			href="/InterVariable.woff2"
			as="font"
			type="font/woff2"
			crossorigin="anonymous"
		/>
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-EE08YC88C5"
		></script>
	</head>

	<body class="f-col">
		<Header />
		<FixedBtns />
		<slot />
		<AsideMenu />
		<Footer />
		<script async>
			const handleToggleAside = () => {
				document
					.getElementById("aside-menu")
					?.classList.toggle("active");
			};

			const AsideControllers = document.querySelectorAll(".toggleAside");
			AsideControllers.forEach((controller) => {
				controller.addEventListener("click", handleToggleAside);
			});
		</script>
		<script async>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-EE08YC88C5");
		</script>
	</body>
</html>
